python-dotenv
docarray==0.21.0
Flask==2.0.2
Flask_Cors==3.0.10
langchain==0.0.331
openai==0.27.8
pydantic==1.10.7
pymongo==4.6.0
Requests==2.31.0
setuptools==58.3.0
tiktoken==0.3.3
Werkzeug==2.2.2
typing-extensions==4.5.0
